﻿<!doctype html>
<html ng-app="lolTags">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" type="text/css" href="index.css">
  <script src="angular/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body>
  <img id="logo" src="res/lol_logo.png" height=100>
  <div id="wrap" ng-controller="dbController">
    <p>{{categoriesTags}}</p>
    {{dbChampions["Ahri"]}}
    <div class="groupboxes">
      <fieldset ng-repeat="category in dbCategories" ng-style="fieldsetStyle">
        <legend>{{category.name}}</legend>
        <div ng-repeat="tag in categoriesTags[category.name]">
          <input type="checkbox" ng-model="tag.selected">  {{tag.name}}
          <img class="tag" ng-show="!!counterSelectedChampions" src="res/plus.png" alt="add tag" ng-click="addTagToSelected(tag)">
          <img class="tag" ng-show="!!counterSelectedChampions" src="res/minus.png" alt="remove tag" ng-click="removeTagFromSelected(tag)">
        </div>
      </fieldset>
    </div>
    <div class="champGrid">
      <span ng-repeat="champ in dbChampions" class="champAvatar">
        <div ng-class="{'selected': champ.isSelected, 'unSelected': !champ.isSelected }"
             ng-click="selectChampion(champ.name)">
          <img ng-src="res/{{champ.image}}" height=100>
          <br>{{champ.name}}
        </div>
      </span>
    </div>
  </div>
</body>
</html>

