
body {
    background-color: black;
    color: lightgrey;
    text-align: center;
}
  
fieldset{
  float: left;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  /*height: 200px;*/
}

/* "auto" makes the left and right margins center the wrapper */
#wrap {
  width: 900px;
  margin: 0 auto;
  text-align: left;
}

#logo {
  margin-bottom: 30px;
}

div.champGrid {
  margin: 0 auto;
  text-align: center;
  display : inline-block;  /* float: left; has the same effect */
  /*float: left;*/      
}

span.champAvatar {
  padding: 10px;
  display: inline-block;
}

.selected {
  border-style: inset;
  border-width: medium;
  border-color: GoldenRod;
}

.unSelected {
  border-style: inset;
  border-width: medium;
  border-color: rgba(1,1,1,1);
}

img.tag {
  width: 16px;
  height: 16px;
  float: right;
  padding-left: 10px;
}